@require '_vars.styl'

$fa-font-path = '../fonts'
@require './../../node_modules/font-awesome-stylus/stylus/index.styl'

*
  box-sizing border-box

html, body
  font-family consolas, menlo, monaco, monospace
  background $main-background

margin 0
  height 100%


.schema
  margin 20px
  margin-top $header-height + 20px

@require 'header.styl'
@require 'vpc.styl'
@require 'subnet.styl'
@require 'autoscaling.styl'
@require 'load-balancer.styl'
@require 'igw.styl'
@require 'instance.styl'
@require 'volume.styl'
@require 'panel.styl'
@require 'widget.styl'
@require 'info-panel.styl'
@require 'filters.styl'