.filters
  &__widget
    &__title
      cursor pointer
      margin 0
      padding 12px 15px
      color #e0c671
      border-bottom 1px solid #0a0c15
      position relative

      .fa
        position absolute
        top   13px
        right 15px

    &__body
      display none

    &._is-opened
      .filters__widget__body
        display block

  &__controls
    font-size 12px
    cursor pointer
    padding 7px 15px
    background #0a0c15

    &__control
      display inline-block
      padding 4px 8px
      background #202936
      color #697d99
      border-radius 2px
      margin-left 7px
      &:first-child
        margin-left 0

  &__filter
    display block
    padding 7px 15px
    cursor pointer
    color #2c3a47
    border-bottom 1px solid #161d27

    .fa
      font-size 12px
      margin-right 7px

    &._is-active
      background #202936
      color #b49b55
