.header
  font-family "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif
  position fixed
  top   0
  right 0
  left  0
  width 100%
  background $header-background
  padding 0 20px
  height $header-height
  z-index 100
  box-shadow 0 0 3px rgba(0, 0, 0, 0.35)

  &__brand
    margin-top 12px
    font-size 22px
    text-transform uppercase
    display inline-block
    color $header-brand-text-color
    &__pie
      display inline-block
      margin-left 3px
      font-weight 800
      color $header-brand-pie-text-color