.igw
  cursor pointer
  &__cloud
    fill rgb(207, 244, 222)

  &__circle,
  &__cloud__inside
    fill #588da2

  &__label__text
    fill #67a0b6
    font-family consolas, menlo, monaco, monospace
    font-size 12px

  &._is-active
    .igw
      &__cloud
        fill #fff

      &__circle,
      &__cloud__inside
        fill #36749b

      &__label__text
        fill #78b8d0
