.igw
  cursor pointer
  &__cloud
    fill $igw-icon-symbol

  &__circle,
  &__cloud__inside
    fill $igw-icon-background

  &__label__text
    fill $igw-text-color
    font-family consolas, menlo, monaco, monospace
    font-size 12px

  &._is-active
    .igw
      &__cloud
        fill $igw-icon-symbol-active

      &__circle,
      &__cloud__inside
        fill $igw-icon-background-active

      &__label__text
        fill $igw-text-color-active
