.item-info
  &__type
    padding 7px 15px
    font-size 12px
    text-transform uppercase
    margin 0
    color $item-info-type-text-color
    background $item-info-type-background

  &__id
    margin 0
    padding 10px 15px
    color $item-info-id-text-color

.item-props
  margin 15px 0
  padding 0
  list-style none

  &__prop
    padding 0 15px
    margin-bottom 5px

  &__key
    display inline-block
    font-weight 800
    color $item-info-props-key-text-color
    margin-right 10px

  &__value
    color $item-info-props-value-text-color
