.item-info
  &__type
    cursor pointer
    margin 0
    padding 17px 20px
    position relative
    font-weight 300
    font-size 15px
    color $filters-title-text-color
    &:hover
      background $filters-title-background-hover


.item-props
  font-size 13px
  font-weight 700
  padding 0
  list-style none

  &__prop
    padding 0 20px
    margin-bottom 10px

  &__key
    display inline-block
    font-weight 800
    color $item-info-props-key-text-color
    margin-right 10px

  &__value
    color $item-info-props-value-text-color
