@-webkit-keyframes flickerAnimation {
  0%   { opacity: 1;    }
  50%  { opacity: 0.35; }
  100% { opacity: 1;    }
}

.instance
  &__indicator
    fill $instance-indicator-background

  &__wrapper
    stroke-width $instance-border-width
    fill $instance-background
    stroke $instance-border-color
    cursor pointer

  &._is-active
    .instance
      &__wrapper
        stroke $instance-border-color-active
        fill $instance-background-active

      &__indicator
        fill $instance-indicator-background-active

  &:hover
    .instance
      &__wrapper
        fill $instance-background-hover
        stroke $instance-border-color-hover

  &__name
    fill $instance-text-color
    font-size 11px

  &__state
    //-webkit-animation: flickerAnimation 2s infinite;

    &--stopped
      fill $instance-state-stopped-color

    &--running
      fill $instance-state-running-color