.item-info
  &__type
    padding 7px 15px
    border-bottom 1px solid #000
    font-size 12px
    text-transform uppercase
    margin 0
    color #598894

  &__id
    margin 0
    padding 10px 15px
    color rgb(207, 244, 222)
    border-bottom 1px solid #000