.item-info
  &__type
    padding 5px 15px
    border-bottom 1px solid #d2dac4
    font-size 12px
    text-transform uppercase
    margin 0
    color #b8c39e

  &__id
    margin 0
    padding 10px 15px
    color #41817a
    border-bottom 1px solid #d2dac4