.panel
  font-family "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif
  display block
  position fixed
  width 25%
  height 100%
  top    $header-height
  bottom 0
  background $panel-background
  z-index 100
  color $panel-text-color
  font-size 14px
  -webkit-transition transform 200ms
  box-shadow 0 0 24px rgba(0, 0, 0, 0.2)

  &__title
    margin 0
    padding 20px 20px 15px 20px
    font-weight 400

  &__close
    font-size 12px
    cursor pointer
    position absolute
    top   15px
    right 22px
    border-radius 16px
    width  32px
    height 32px
    display block
    text-align center
    padding-top 9px
    background $panel-close-background
    color      $panel-close-text-color
    &:hover
      background $panel-close-background-hover
      color      $panel-close-text-color-hover

  &__open
    position fixed
    top $header-height + 20px
    width  52px
    height 52px
    border-radius 26px
    display block
    text-align center
    padding-top 16px
    font-size 18px
    background $panel-open-background
    color      $panel-open-text-color
    cursor pointer
    box-shadow 0 1px 2px rgba(0, 0, 0, 0.25)
    &--right
      right 20px

    &--left
      left 20px

    &:hover
      box-shadow none
      background $panel-open-background-hover
      color      $panel-open-text-color-hover

  &._is-opened
    transform translate3d(0, 0, 0)

  &--right
    right 0
    transform translate3d(100%, 0, 0)

  &--left
    left 0
    transform translate3d(-100%, 0, 0)
