.subnet
  &__label__text
    font-weight 700
    font-size 13px

  &__zone
    font-size 13px

  &__wrapper

    fill #d9ffe8

  &._is-active
    .subnet
      &__wrapper
        stroke #a6cab4
        stroke-width 1px
