.subnet
  &__label__text
    font-weight 700
    font-size 13px
    fill $subnet-text-color

  &__zone
    font-size 13px
    fill $subnet-text-color

  &__wrapper
    fill $subnet-background
    stroke $subnet-border-color
    stroke-width $subnet-border-width

  &._is-active
    .subnet
      &__wrapper
        fill $subnet-background-active
        stroke $subnet-border-color-active
