
$main-background       = #273e45
$vpc-background        = #cff4de
$subnet-background     = #d9ffe8
$info-panel-background = #1c3037

$main-background       = #444
$vpc-background        = #333
$subnet-background     = #222
$info-panel-background = #222

// instance
$instance-background                  = #333    // #273e45
$instance-border-width                = 1px     // 1px
$instance-border-color                = none    // #273e45
$instance-indicator-background        = none
// instance:hover
$instance-background-hover            = #444    // #2e484f
$instance-border-color-hover          = none    // #132126
$instance-indicator-background-hover  = none
// instance.active
$instance-background-active           = #444    // #2e484f
$instance-border-color-active         = none    // #132126
$instance-indicator-background-active = #c86648