$main-background       = #63beaf


//################//
//   info panel   //
//################//
$info-panel-background            = #e2ead4
$info-panel-text-color            = #41817a
$item-info-id-text-color          = #41817a
$item-info-type-text-color        = #b8c39e
$item-info-props-key-text-color   = #b8c39e
$item-info-props-value-text-color = #41817a


//#########//
//   igw   //
//#########//
$igw-text-color             = #4e9b94
$igw-icon-background        = #50aaa3
$igw-icon-symbol            = #e2ead4
// igw active
$igw-text-color-active      = #41817a
$igw-icon-background-active = #41817a
$igw-icon-symbol-active     = #fff


//#########//
//   VPC   //
//#########//
// vpc -> icon
$vpc-text-color          = #63b597
$vpc-icon-front          = #e5ce3b
$vpc-icon-left           = #d6c23c
$vpc-icon-top            = #f0db55
$vpc-icon-bottom         = #b7a427
// vpc -> area
$vpc-background          = #f8f7f3
$vpc-border-color        = #50aaa3
$vpc-border-width        = 2px
// vpc -> active
$vpc-text-color-active   = #63b597
$vpc-background-active   = #f8f7f3
$vpc-border-color-active = #41817a


//#################//
//   VPC peering   //
//#################//
$vpc-peering-link-color        = #a9dfc4
$vpc-peering-link-color-active = #b9f2d6


//###################//
//   load balancer   //
//###################//
$lb-link-color               = #bc86b3
$lb-icon-background          = #d1afcb
$lb-icon-symbol-color        = #f3d0ed
$lb-icon-border-color        = #bc86b3
$lb-icon-border-width        = 1px
// load balance -> hover
$lb-link-color-hover         = #bc86b3
$lb-icon-background-hover    = #debcd8
$lb-icon-symbol-color-hover  = #ffffff
$lb-icon-border-color-hover  = #bc86b3
// load balance -> active
$lb-link-color-active        = #a55391
$lb-icon-background-active   = #bc86b3
$lb-icon-symbol-color-active = #ffffff
$lb-icon-border-color-active = #a55391


//#################//
//   autoscaling   //
//#################//
$autoscaling-link-color               = #9ec567
$autoscaling-link-width               = 2px
$autoscaling-icon-background          = #add278
$autoscaling-icon-symbol-color        = #cdf395
$autoscaling-icon-border-color        = #9ec567
$autoscaling-icon-border-width        = 1px
// autoscaling -> hover
$autoscaling-link-color-hover         = #9ec567
$autoscaling-link-width-hover         = 2px
$autoscaling-icon-background-hover    = #bbe185
$autoscaling-icon-symbol-color-hover  = #fff
$autoscaling-icon-border-color-hover  = #9ec567
// autoscaling -> active
$autoscaling-link-color-active        = #7caa50
$autoscaling-link-width-active        = 2px
$autoscaling-icon-background-active   = #9ec567
$autoscaling-icon-symbol-color-active = #fff
$autoscaling-icon-border-color-active = #7caa50


//############//
//   subnet   //
//############//
$subnet-text-color          = #899769
$subnet-background          = #e2ead4
$subnet-border-color        = #d2dac4
$subnet-border-width        = 2px
// subnet -> active
$subnet-text-color-active   = #899769
$subnet-background-active   = #e6eddb
$subnet-border-color-active = #c3d198


//##############//
//   instance   //
//##############//
$instance-background                  = #b3dbcf
$instance-border-width                = 1px
$instance-border-color                = none
$instance-text-color                  = #4e9b94
// instance -> hover
$instance-background-hover            = #fff
$instance-border-color-hover          = none
// instance -> active
$instance-background-active           = #fff
$instance-border-color-active         = none

$instance-state-stopped-color         = #c4483f
$instance-state-running-color         = #52bcb5

// volume
$volume-background        = #52bcb5
$volume-text-color        = rgb(207, 244, 222)
// volume -> hover
$volume-background-hover  = #52bcb5
// volume -> active
$volume-background-active = #52bcb5