$main-background = #202936


$header-height               = 52px
$header-background           = #2d3746
$header-brand-text-color     = #eed47c
$header-brand-pie-text-color = #b49b55


//###########//
//   panel   //
//###########//
$panel-text-color             = #5a6c86
$panel-background             = #161d27
$panel-close-background       = #2b343e
$panel-close-text-color       = #0f141e
$panel-close-background-hover = #5a6c86
$panel-close-text-color-hover = #0f141e
$panel-open-background        = #2b343e
$panel-open-text-color        = #b49b55
$panel-open-background-hover  = #1c232d
$panel-open-text-color-hover  = #eed47c


//############//
//   widget   //
//############//
$widget-title-text-color       = #b49b55
$widget-title-background-hover = #1c232e


//################//
//   info panel   //
//################//
$item-info-id-text-color          = #e0c671
$item-info-type-text-color        = #506079
$item-info-type-background        = #202936
$item-info-props-key-text-color   = darken($panel-text-color, 20)
$item-info-props-value-text-color = #6c819b



//#############//
//   filters   //
//#############//
$filters-separator-color                      = #0f141e

$filters-title-text-color                     = #b49b55
$filters-title-background-hover               = #1c232e

$filter-text-color-active                     = #6c819b
$filter-text-color-inactive                   = darken($panel-text-color, 20)
$filter-background-hover                      = #1c232e

$filter-indicator-color-inactive              = transparent
$filter-indicator-color-active                = $panel-text-color
$filter-indicator-color-hover                 = darken($panel-text-color, 12)

$filters-controls-text-color                  = darken($panel-text-color, 9)
$filters-controls-background                  = #0f141e
$filters-control-border-color                 = darken($panel-text-color, 16)

$filters-controls-state-background-enabled    = #b49b55
$filters-controls-state-border-color-enabled  = $filters-controls-state-background-enabled
$filters-controls-state-text-color-enabled    = #0f141e

$filters-controls-state-background-disabled   = darken($panel-text-color, 7)
$filters-controls-state-border-color-disabled = $filters-controls-state-background-disabled
$filters-controls-state-text-color-disabled   = #0f141e


//#########//
//   igw   //
//#########//
$igw-text-color             = #2d6b8f
$igw-icon-background        = #2d6b8f
$igw-icon-symbol            = #202936
// igw active
$igw-text-color-active      = #1d92bb
$igw-icon-background-active = #1d92bb
$igw-icon-symbol-active     = #161d27


//#########//
//   VPC   //
//#########//
// vpc -> icon
$vpc-text-color          = #e0c671
$vpc-icon-front          = #e0c671
$vpc-icon-left           = #b49b55
$vpc-icon-top            = #e6d395
$vpc-icon-bottom         = #8d7947
// vpc -> area
$vpc-background          = #2b3847
$vpc-border-color        = #161d27
$vpc-border-width        = 2px
// vpc -> active
$vpc-text-color-active   = #e6d395
$vpc-background-active   = #2b3847
$vpc-border-color-active = #4a5d75


//#################//
//   VPC peering   //
//#################//
$vpc-peering-link-color        = #3e4c61
$vpc-peering-link-color-active = #1d92bb


//###################//
//   load balancer   //
//###################//
$lb-link-color               = #1d86ae
$lb-icon-background          = #1d86ae
$lb-icon-symbol-color        = #94d7e8
$lb-icon-border-color        = #1d86ae
$lb-icon-border-width        = 1px
// load balance -> hover
$lb-link-color-hover         = #1d86ae
$lb-icon-background-hover    = #1d86ae
$lb-icon-symbol-color-hover  = #ffffff
$lb-icon-border-color-hover  = #1d86ae
// load balance -> active
$lb-link-color-active        = #2f9cc0
$lb-icon-background-active   = #2f9cc0
$lb-icon-symbol-color-active = #ffffff
$lb-icon-border-color-active = #2f9cc0


//#################//
//   autoscaling   //
//#################//
$autoscaling-link-color               = #45a770
$autoscaling-link-width               = 2px
$autoscaling-icon-background          = #45a770
$autoscaling-icon-symbol-color        = #c9fbec
$autoscaling-icon-border-color        = #45a770
$autoscaling-icon-border-width        = 1px
// autoscaling -> hover
$autoscaling-link-color-hover         = #45a770
$autoscaling-link-width-hover         = 2px
$autoscaling-icon-background-hover    = #45a770
$autoscaling-icon-symbol-color-hover  = #ffffff
$autoscaling-icon-border-color-hover  = #45a770
// autoscaling -> active
$autoscaling-link-color-active        = #73c79d
$autoscaling-link-width-active        = 2px
$autoscaling-icon-background-active   = #73c79d
$autoscaling-icon-symbol-color-active = #ffffff
$autoscaling-icon-border-color-active = #73c79d


//############//
//   subnet   //
//############//
$subnet-text-color          = #3092b5
$subnet-background          = #323f53
$subnet-border-color        = #253246
$subnet-border-width        = 2px
// subnet -> active
$subnet-text-color-active   = #2daad4
$subnet-background-active   = #323f53
$subnet-border-color-active = #161d27


//##############//
//   instance   //
//##############//
$instance-background          = #1e2836
$instance-border-width        = 1px
$instance-border-color        = #1e2836
$instance-text-color          = #eedba5
// instance -> hover
$instance-background-hover    = #273141
$instance-border-color-hover  = #273141
// instance -> active
$instance-background-active   = #161d27
$instance-border-color-active = #090d12

$instance-state-stopped-color = #c4483f
$instance-state-running-color = #52bcb5

// volume
$volume-background        = #2d6b8f
$volume-text-color        = #1e2836
// volume -> hover
$volume-background-hover  = #1d92bb
$volume-text-hover        = #1e2836
// volume -> active
$volume-background-active = #1da9d4
$volume-text-active       = #090d12
