.vpc
  &__wrapper
    fill $vpc-background
    stroke $vpc-border-color
    stroke-width $vpc-border-width

  &__label__background
    fill rgb(169, 223, 196)
    stroke rgb(76, 147, 120)

  &__label__text
    font-weight 700
    font-size 14px
    fill #63b597

  &__icon
    cursor pointer
    &__front
      fill $vpc-icon-front

    &__left
      fill $vpc-icon-left

    &__top
      fill $vpc-icon-top

    &__bottom
      fill $vpc-icon-bottom

    &__outline
      fill none
      stroke none

  &._is-active
    .vpc
      &__label__text
        fill #63b597

      &__wrapper
        fill $vpc-background-active
        stroke $vpc-border-color-active

      &__icon
        &__front
          fill $vpc-icon-front

        &__left
          fill $vpc-icon-left

        &__top
          fill $vpc-icon-top

        &__bottom
          fill $vpc-icon-bottom

        &__outline
          fill none
          stroke none

  &__peering
    &__path
      stroke #a9dfc4
      stroke-width 2px
      fill none

    &__icon
      cursor pointer
      &__circle,
      &__cloud__inside
        fill #a9dfc4

      &__line
        stroke #14916e

      &__arrow,
      &__cloud
        fill #14916e

    &:hover
      .vpc__peering__icon__circle,
      .vpc__peering__icon__cloud__inside
        fill #b9f2d6

    &._is-active
      .vpc__peering
        &__path
          stroke #b9f2d6

        &__icon
          &__line
            stroke #273e45

          &__arrow,
          &__cloud
            fill #273e45
