.widget
  &__title
    cursor pointer
    margin 0
    padding 17px 20px
    position relative
    font-weight 300
    font-size 15px
    color $widget-title-text-color
    &:hover
      background $widget-title-background-hover

    .fa
      position absolute
      top   18px
      right 30px