.button {
  padding: 7px 9px;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #ddd;
  cursor: pointer;
}

.button-group {

}

.button-group.full-width {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.button-group.full-width .button {
  display: table-cell;
  width: 1%;
  border-radius: 0;
  border-left-width: 0;
}
.button-group.full-width .button:first-child {
  border-radius: 3px 0 0 3px;
  border-left-width: 1px;
}
.button-group.full-width .button:last-child {
  border-radius: 0 3px 3px 0;
}
