//*******************************************
// VPC
//*******************************************
.vpc {
  fill: #e9e5cd;
  stroke: #d8d4bd;
  &._is-hidden {
    fill: rgba(233, 229, 205, 0.40);
  }
}
.vpc-info {
  position: absolute;
  top: -34px;
  height: 32px;
  background-color: #fa8217;
  padding: 0 10px;
  margin-left: 5px;
  color: #FFF;
  border-radius: 2px;
}
.vpc-info h2 {
  margin: 0;
  line-height: 32px;
  font-weight: 400;
  font-family: $font_headings;
}


//*******************************************
// LOAD BALANCER
//*******************************************
.load-balancer__area {
  fill: rgba(169, 223, 196, 0.3);
  stroke: rgb(169, 223, 196);
}
.load-balancer._is-hidden .load-balancer__area {
  fill: rgba(169, 223, 196, 0.1);
  stroke: rgba(169, 223, 196, 0.3);
}
.load-balancer__icon {
  fill: $color_green_dark;
}
.load-balancer__icon-text {
  fill: rgb(169, 223, 196);
  font-size: 11px;
  font-family: $font_headings;
  font-weight: 700;
  text-anchor: middle;
  alignment-baseline: middle;
}
.load-balancer__name {
  fill: $color_green_dark;
  font-family: $font_headings;
  font-size: 9px;
  text-anchor: middle;
}


//*******************************************
// INSTANCE
//*******************************************
.instance {
  fill: rgba(255, 255, 255, 0.51);
  &._is-hidden {
    fill: rgba(255, 255, 255, 0.15);
  }
}
.instance:hover {
  stroke: #2f837a;
}
.instance__name {
  fill: $color_green_dark;
  font-size: 9px;
  font-family: $font_headings;
  text-anchor: middle;
}
.instance__status-running {
  fill: #39bfa0;
}
.instance__status-stopped {
  fill: #c64134;
}


.sg-link {
  stroke: rgba(47, 131, 122, 0.30);
  fill: none;
  stroke-width: 2;
}
.sg-link__arrow {
  fill: #2f837a;
}